body {
    background-color: #f0f0f0;
}

.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 15%;
    background-color: #ffffff;
    height: max-content;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    ;
}

.sidebar h3 {
    margin: 0%;
    padding: 10%;
}

.sidebar input {
    list-style-type: none;
    margin: 5%;
}

.sidebarContent {
    padding: 10%;
}

.catalogue {
    display: flex;
    justify-content: center;
    max-width: 80%;
    flex-direction: column;
}

.row {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}

.card {
    text-align: center;
    background-color: #ffffff;
    max-width: 30%;
    border-radius: 0.5em;
    box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card ul {
    text-align: center;
    padding: 5%;
}

.card ul li {
    margin: 5%;
}

.card:hover {
    cursor: pointer;
}

.card img {
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}